body {
    background-color: #eee;
    margin: 1em;
}

.header-text {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(2,0,36,1) 40%,  rgba(0,212,255,1) 60%); 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
}

.circle_img {
    border-radius: 50%;
}


.btn-gradient {
    margin-left: 2em;
    color: #ffffff;
    font-weight: bold;
    border-color: #343a40;
    background-image: linear-gradient(to right, rgba(2,0,36,1),  rgba(0,212,255,1))
}



